.icons {
  background-color: #3d97ff !important;
  margin-top: 50px;
  border-radius: 0px !important;
}
.my-icon {
  font-size: 70px;
}

.navbar{
  margin-bottom: 0;
  
}

.d-block{
  margin-top: 50px;
  }

  .footer{
    margin-top: 10px;
  }

